<!DOCTYPE html>
<html lang="en" ng-app="poll-app">
<link href="static/style.css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Company size</title>
</head>
    <body ng-controller="appCtrl">
    <ul>
        <li ng-repeat="item in data" class="template_offers">
            Pays: {{item.country}}<br>Ville: {{item.city}}
        </li>
    </ul>

    <script src="socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="app.js"></script>
    </body>
</html>