<!DOCTYPE html>
<html lang="en" ng-app="poll-app">
<link href="static/style.css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Company side</title>
</head>
<body ng-controller="appCtrl">
    <div class="header">
        <h2>Résultats pour : Développeur Back-End</h2>
    </div>
    <ol>
        <li ng-repeat="item in data" class="template_offers">
            <div class="data_container">
                Poste recherché: Data Scientist<br>
                Compétences: {{item.country}}<br>
                Personalité: Ouvert d’esprit, motivé, compétitif<br>
            </div>
        </li>
    </ol>

    <script src="socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>