<!DOCTYPE html>
<html lang="en">
<link href="../static/sites_offres.css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Créer un profile</title>
</head>
<body>
 <div class="content">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css">
    <script src="https://cdn.jsdelivr.net/npm/tom-select"></script>
    <form id="choice" name='form' method="POST" action="/">
        <label for="first_name"><span class="red_star">* </span>Prénom :</label><br>
            <input type="text" id="first_name" required size="20" name="first_name"/><br><br>
        <label for="last_name"><span class="red_star">* </span>Nom :</label><br>
            <input type="text" id="last_name" required size="20" name="last_name"/><br><br>
        <label for="email"><span class="red_star">* </span>Adresse mail :</label><br>
            <input type="email" id="email" required size="20" name="email"/><br><br>
        <label for="country"><span class="red_star">* </span>Lieu : (Ville, Pays)</label><br>
            <input type="text" id="country" required size="20" name="country"/><br><br>
        <label for="skills_select">Sélectionnez vos compétences:</label><br>
        <select id="skills_select" multiple style="margin: 0 0 0 70%">
            <option value="group_work">Travail d'équipe</option>
            <option value="project_management">Gestion de projet</option>
            <option value="self_learning">Autonomie</option>
            <option value="c">C</option>
            <option value="java">Java</option>
            <option value="trello">Trello</option>
            <option value="notion">Notion</option>
            <option value="3D_model">Modélisation 3D</option>
            <option value="organisation">Organisation</option>
        </select><br>
        <label for="ia_icon_prompt" class="ia_icon_prompt"><span class="red_star">* </span>
            Décrivez une image pour générer votre icône sur mesure...
        </label><br>
        <input type="text" id="ia_icon_prompt" required size=""><br><br>
        <fieldset style="max-width: 40%">
            <label for="secondary_language">Deuxième langue :</label><br>
            <select name="secondary_language" id="secondary_language" required>
            <option value="">--Choisir une option--</option>
            <option value="german">Allemand</option>
            <option value="english">Anglais</option>
            <option value="spanish">Espagnol</option>
            <option value="french">Français</option>
        </select>
            <select name="secondary_language" id="secondary_language_level" required>
                <option value="">--Choisir une option--</option>
                <option value="high">Avancé (C1)</option>
                <option value="medium">Intermédiaire (B1)</option>
                <option value="low">Faible (A1)</option>
            </select><br>
            <label for="third_language">Troisième langue :</label><br>
            <select name="third_language" id="third_language" required>
                <option value="">--Choisir une option--</option>
                <option value="german">Allemand</option>
                <option value="english">Anglais</option>
                <option value="spanish">Espagnol</option>
                <option value="french">Français</option>
            </select>
            <select name="third_language_lvl" id="third_language_level" required>
                <option value="">--Choisir une option--</option>
                <option value="high">Avancé (C1)</option>
                <option value="medium">Intermédiaire (B1)</option>
                <option value="low">Faible (A1)</option>
            </select>
        </fieldset><br>
        <label for="description">Décris toi:<span class="red_star"> *</span></label><br>
        <input type="text" id="description" required minlength="50" maxlength="800" size="70" name="description"/><br><br>
        <button type="submit">Envoyer</button>
    </form>
 </div>
    <script>
        new TomSelect("#skills_select", {
            plugins: ['remove_button'], // Allows users to remove selections
            persist: false,
            create: false
        });
    </script>
</body>
</html>