<!DOCTYPE html>
<html lang="en">
<link href="../static/sites_offres.css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Créer un profile</title>
</head>
<body>
    <form id="choice" name='form' method="POST" action="/">
        <label for="first_name">Ton Prénom:<span class="red_star"> *</span></label><br>
            <input type="text" id="first_name" required size="20" name="first_name"/><br><br>
        <label for="last_name">Ton Nom:<span class="red_star"> *</span></label><br>
            <input type="text" id="last_name" required size="20" name="last_name"/><br><br>
        <label for="email">Ton adresse mail:<span class="red_star"> *</span></label><br>
            <input type="email" id="email" required size="20" name="email"/><br><br>
        <p>Ta localisation:</p>
        <div class="padding">
            <label for="country">Pays:<span class="red_star"> *</span></label><br>
                <input type="text" id="country" required size="20" name="country"/><br><br>
            <label for="city">Ville:<span class="red_star"> *</span></label><br>
                <input type="text" id="city" required size="20" name="city"/><br><br>
        </div>
        <br><br><br><br><br><br>
        <label for="description">Décris toi:<span class="red_star"> *</span></label><br>
            <input type="text" id="description" required minlength="100" maxlength="800" size="70" name="description"/><br><br>
        <button type="submit">Envoyer</button>
    </form>
</body>
</html>